*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 10px; 
    background-color:#3AAFA9;
}

.container h2{
    font-size: 3rem;
}
.container1{
    width: 100%;
    height: 7vh;
    background-color: black;
    color: antiquewhite;
    display: flex;
    align-items: center;
}
.container1 p{
    animation: moving 10s linear infinite;
}
@keyframes moving  {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(100%);
    }
}

.container2{
    width: 100%;
    height: 85vh;
    display: flex;
    background-color:#DEF2F1 ;
}
.box1{
    width: 50%;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.box1 h1{
    padding-left: 15px;
}
.box1 h3{
    padding-left: 15px;
}
.box1 h4{
    padding-left: 15px;
}
.box2{
    width: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.info{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;

}
.info1{
    width: 100%;
    height: 40vh;
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 500px;
    height: 35vh;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
    
}
.card1{
    width: 300px;
    height: 400px;
    box-shadow: 0px 0px 5px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    background-color: #3AAFA9;
}
.card1 button{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: orange;
}

.content{
    height:20vh ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.content i{
    font-size: 3rem;
}
.content1 i{
    font-size: 3rem;
}
.content1{
    display: flex;
    height:20vh ;
    justify-content: space-around;
    text-align: center;

}
input{
    border: none;
    border-bottom: 2px solid black;
    outline:none;
    background-color:#3AAFA9 ;
    color: black;
    
}
::placeholder{
    color: black;
}
.head h2{
    color:#DEF2F1;
}
.box1 h1{
    color: #3AAFA9;
}

@media only screen and (min-width:350px) and (max-width:750px){
    .container{
        width: 100%;
        height: max-content;
        padding: 10px;
    }
    .container1{
        width: 100%;
        height: max-content;
        overflow: hidden;
        

    }
    .container2{
        width: 100%;
        height: max-content;
        flex-direction: column;
        align-items: center;
        
        
    }
    .box1{
        width: 100%;
        height: max-content;
        
    }
    .box2{
        width: 100%;
        height: max-content;
        padding-bottom: 10px;
    }
    .card2{

        width: 100%;
        height: max-content;
    }
    .box1 h1{
        text-align: center;
    }
    .box1 h3{
        text-align: center;
    }
    .box1 h4{
        text-align: center;
    }
    .info{
        width: 100%;
        height: max-content;
        flex-direction: column;
    }
    
    
}
@media only screen and (min-width:750px) and (max-width:1024px){
    .container{
        width: 100%;
        height: max-content;
        padding: 10px;
        justify-content: center;
    }
    .container1{
        width: 100%;
        height: max-content;
        display: flex;
        overflow: hidden;
    }
    .container2{
        width: 100%;
        height: max-content;
        flex-direction: column;
        align-items: center;
        
        
    }
    .box1{
        width: 100%;
        height: max-content;
        
    }
    .box2{
        width: 100%;
        height: max-content;
        padding-bottom: 10px;
    }
    .card2{

        width: 100%;
        height: max-content;
    }
    .box1 h1{
        text-align: center;
    }
    .box1 h3{
        text-align: center;
    }
    .box1 h4{
        text-align: center;
    }
    .info{
        width: 100%;
        height: max-content;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}